@import "tailwindcss";

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background-color-19315b {
  background-color: #19315b;
}

.text-d2b199 {
  color: #d2b199;
}