
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background-color-19315b {
  background-color: #19315b;
}

.background-color-d2b199 {
  background-color: #d2b199;
}

.text-d2b199 {
  color: #d2b199;
}

.text-19315b {
  color: #19315b;
}

.background-color-transparent {
  background-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #d2b199;
  }
  button {
    background-color: #19315b;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #d2b199;
  }
  button {
    background-color: #19315b;
    color: #ffffff;
  }
}
